body {
    background-color: rgb(143, 218, 253);
    background-image:url("/.img/sunset-reflects-christian-mountain-spirituality-nature-beauty-generative-ai.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
