body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    height: auto;
    z-index: 999999999;

}
main{
    z-index: 99999999;
}
h3{
    color: rgb(0, 204, 255);
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px !important;
}
body {
    color: white !important;
    width: 100%;
    height: 100%;
    background-color: rgb(136, 39, 227);
    background-repeat: no-repeat;
    overflow-y: scroll;
}

h3 {
    color: rgb(0, 238, 255);
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px !important;
}

/* Rodapé */

footer {
    width: 100%;
    background-color: transparent;
    color: rgb(12, 5, 79); !important;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    z-index: 0;
}

footer a {
    color: rgb(60, 255, 0);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    /**/
}
body {
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    overflow-y: scroll;
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa ao rolar a página */
}